.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(images/icons8-toggle-off-96.png);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: center;
    cursor: pointer;

    &.active { // .toggle.active
        background: url(images/icons8-toggle-on-96.png);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: center;
        cursor: pointer;
    }
}