.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  padding: 14rem;
  color: #db1313;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #db1313;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .back-home-link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2980b9;
    }
  }
}